<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movie.mapper.CinemaMapper">
	<select id="getAllCinemas" resultType="com.movie.VO.CinemaVO">
		SELECT * FROM cinema
	</select>	
	<select id="getCinema" resultType="com.movie.VO.CinemaVO" parameterType="String">
		SELECT * FROM cinema WHERE id = #{id}
	</select>	
</mapper>